<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Python\Python36\python.exe|E:\Python\django_mongodb_web\wfastcgi.py" resourceType="Unspecified" requireAccess="None" />
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
            <add key="PYTHONPATH" value="E:\Python\django_mongodb_web\" />
            <add key="DJANGO_SETTINGS_MODULE" value="index.py" />
        </appSettings>
    </configuration>